---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Not Found" description="404 Error — this page was not found">
  <div class="m-auto flex flex-col justify-center text-7xl">Page not Found</div>
</BaseLayout>
