---
import BaseLayout from "../layouts/BaseLayout.astro";

const skills = [
  "Nodejs",
  "React",
  "GraphQL",
  "Relay",
  "Sequelize",
  "Jest",
  "Postgres",
  "Nextjs",
  "Tailwind",
];
---

<BaseLayout title="About | Gileade Kelvin" description="About Gileade Kelvin">
  <main class="m-auto flex min-w-[60rem] flex-col px-4 pb-24">
    <header class="flex flex-col gap-4">
      <h1 class="text-5xl font-bold text-gray-900">About</h1>
      <p class="text-lg">My background and skills</p>
    </header>
    <div class="flex min-w-[60rem] flex-col gap-4 py-8">
      <section>
        <h3 class="py-4 text-2xl font-bold">Background</h3>
        <div class="flex flex-col pl-4">
          <ol class="max-w-xs border-l border-gray-300 md:max-w-3xl">
            <li>
              <div class="flex-start flex items-center pt-3">
                <div class="-ml-1 mr-3 h-2 w-2 rounded-full bg-gray-300"></div>
                <p class="text-sm text-gray-500">2014</p>
              </div>
              <div class="mt-0.5 ml-4 mb-6">
                <h4 class="mb-1.5 text-xl font-semibold text-gray-800">
                  Start of BSc Computer Science degree at UFCG
                </h4>
                <p class="mb-3 text-gray-500">
                  This was the start of my developer journey.
                </p>
              </div>
            </li>
            <li>
              <div class="flex-start flex items-center pt-2">
                <div class="-ml-1 mr-3 h-2 w-2 rounded-full bg-gray-300"></div>
                <p class="text-sm text-gray-500">2017</p>
              </div>
              <div class="mt-0.5 ml-4 mb-6">
                <h4 class="mb-1.5 text-xl font-semibold text-gray-800">
                  Joined Analytics Laboratory
                </h4>
                <p class="mb-3 text-gray-500">
                  In this year I have joined the Analytics Laboratory at UFCG.
                  My initial interest was to analyze government data in Brazil.
                  I helped to develop:
                  <ol
                    class="list-disc space-y-3 pl-5 text-gray-600 marker:text-gray-500"
                  >
                    <li>
                      <a
                        class="text-gray-800 underline hover:text-gray-500"
                        href="https://tadepemerenda.transparencia.org.br/home"
                        >Tá de pe merenda</a
                      >
                    </li>
                    <li>
                      <a
                        class="text-gray-800 underline hover:text-gray-500"
                        href="https://comprasemergenciais.transparencia.org.br/home"
                        >Tá de pe compras emergenciais</a
                      >
                    </li>
                    <li>
                      <a
                        class="text-gray-800 underline hover:text-gray-500"
                        href="https://analytics-ufcg.github.io/empenhados/"
                        >Empenhados</a
                      >
                    </li>
                  </ol>
                </p>
              </div>
            </li>
            <li>
              <div class="flex-start flex items-center pt-2">
                <div class="-ml-1 mr-3 h-2 w-2 rounded-full bg-gray-300"></div>
                <p class="text-sm text-gray-500">2018</p>
              </div>
              <div class="mt-0.5 ml-4 pb-5">
                <h4 class="mb-1.5 text-xl font-semibold text-gray-800">
                  Finished my BSc Computer Science degree at UFCG
                </h4>
                <p class="mb-3 text-gray-500">
                  This year I finished my BSc Computer Science degree at UFCG.
                </p>
              </div>
            </li>
            <li>
              <div class="flex-start flex items-center pt-2">
                <div class="-ml-1 mr-3 h-2 w-2 rounded-full bg-gray-300"></div>
                <p class="text-sm text-gray-500">2019</p>
              </div>
              <div class="mt-0.5 ml-4 pb-5">
                <h4 class="mb-1.5 text-xl font-semibold text-gray-800">
                  Data Analyst at Analytics Laboratory
                </h4>
                <p class="mb-3 text-gray-500">
                  I started as a Junior Data Analyst at Analytics Laboratory
                </p>
              </div>
            </li>
            <li>
              <div class="flex-start flex items-center pt-2">
                <div class="-ml-1 mr-3 h-2 w-2 rounded-full bg-gray-300"></div>
                <p class="text-sm text-gray-500">2021</p>
              </div>
              <div class="mt-0.5 ml-4 pb-5">
                <h4 class="mb-1.5 text-xl font-semibold text-gray-800">
                  Software Engineer at Sigalei
                </h4>
                <p class="mb-3 text-gray-500">
                  I started a Software Engineer job at Sigalei. More focused on
                  software development. Here I found myself as a software
                  developer that likes to build and fix things.
                </p>
              </div>
            </li>
          </ol>
        </div>
      </section>
      <section>
        <h3 class="py-4 text-2xl font-bold">Education</h3>
        <div class="border-l-4 border-gray-300 pl-4">
          <p class="">BSc Computer Science at UFCG - Brasil</p>
          <p class="text-sm text-gray-500">2014-2018</p>
        </div>
      </section>
      <section>
        <h3 class="py-4 text-2xl font-bold">Skills</h3>
        <div class="mt-2 flex flex-row gap-4">
          {
            skills.map((skill) => (
              <span class="rounded-full border border-gray-200 px-4 py-3">
                {skill}
              </span>
            ))
          }
        </div>
      </section>
    </div>
  </main>
</BaseLayout>
