---
import { getCollection } from "astro:content";

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from "../layouts/BaseLayout.astro";

// Component Imports
import Icon from "../components/Icon.astro";
import Pill from "../components/Pill.astro";
import Projects from "../components/Projects.astro";

const projects = (await getCollection("work"))
  .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
  .slice(0, 4);
---

<BaseLayout>
  <div
    class="m-auto flex max-w-[83rem] flex-col justify-center p-4 pb-16"
  >
    <header class="flex w-full flex-col gap-2 lg:gap-16">
      <div class="flex flex-col gap-2">
        <h1 class="text-4xl text-gray-800">
          Hi, my name is <span
            class="text-text-heading bg-gradient-to-bl from-primary to-primary bg-[length:90%_40%] bg-bottom bg-no-repeat text-center text-4xl font-bold text-gray-800"
            >Gileade Kelvin</span
          >
        </h1>
        <span class="text-xl"
          >I am a fullstack developer who is currently based in Brazil.</span
        >
      </div>
    </header>
  </div>

  <main class="m-auto flex max-w-[83rem] flex-col justify-center px-2">
    <div>
      <h3>Recent projects</h3>
      <p>Take a look below at some of my recent projects</p>
    </div>
    <Projects />
  </main>
</BaseLayout>
