---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectsList from "../components/ProjectsList.astro";
---

<BaseLayout>
  <div
    class="m-auto flex md:min-w-[60rem] flex-col justify-center px-3 md:px-0 py-2 pb-16"
  >
    <header class="flex w-full flex-col gap-2 lg:gap-16">
      <div class="flex flex-col gap-2">
        <h1 class="text-4xl text-gray-800 font-bold">
          Hi, my name is <span
            class="text-heading bg-gradient-to-bl from-primary to-primary bg-[length:90%_40%] bg-bottom bg-no-repeat text-center text-4xl font-bold text-gray-800"
            >Gileade Kelvin</span
          >
        </h1>
        <span class="text-xl"
          >I am a fullstack developer who is currently based in Brazil.</span
        >
      </div>
    </header>
  </div>

  <main class="m-auto flex max-w-[100rem] flex-col justify-center px-3">
    <div>
      <p
        class="text-3xl font-extrabold text-gray-800"
        transition:name="projects"
      >
        Projects
      </p>
      <p>Take a look below at some of my open source projects</p>
    </div>
    <ProjectsList />
  </main>
</BaseLayout>
