---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectsList from "../components/ProjectsList.astro";
---

<BaseLayout
  title="Projects | Gileade Kelvin"
  description="Learn about Gileade Kelvin's most recent projects"
>
  <main class="m-auto flex md:min-w-[60rem] flex-col px-3 pb-24">
    <header class="flex flex-col gap-4">
      <h1 class="text-5xl font-bold text-gray-800">Projects</h1>
      <p class="text-lg">
        See my projects below to get an idea of my past experience.
      </p>
    </header>
    <ProjectsList />
  </main>
</BaseLayout>
