---
import BaseLayout from "../layouts/BaseLayout.astro";

import Icon from "../components/Icon.astro";
import Projects from "../components/Projects.astro";
---

<BaseLayout
  title="My Work | Gileade Kelvin"
  description="Learn about Gileade Kelvin's most recent projects"
>
  <main class="m-auto flex max-w-[83rem] flex-col px-4 pb-24">
    <header class="flex flex-col gap-4">
      <h1>My Work</h1>
      <p class="text-lg">
        See my most recent projects below to get an idea of my past experience.
      </p>
    </header>
    <Projects />
  </main>
</BaseLayout>
