---
import Icon from "./Icon.astro";
import { getCollection } from "astro:content";

const allProjects = await getCollection("work");
const projects = allProjects.sort(
  (a, b) => a.data.publishDate.valueOf() - b.data.publishDate.valueOf(),
);
---

<div class="flex max-w-[83rem] flex-col gap-4 py-4">
  <div class="flex flex-col gap-4">
    {
      projects.map((project) => (
        <div class="flex flex-col gap-1 border-l-4 border-gray-400 px-4 py-2">
          <div>
            <a href={project.slug}>
              <h5 class="text-gray-800 hover:text-gray-500">
                {project.data.title}
              </h5>
            </a>
            <p>{project.data.subtitle ?? project.data.description}</p>
          </div>
          <div class="flex flex-row gap-4 pt-2">
            <a
              href={project.data.source}
              target="_blank"
              rel="noopener"
              class="flex flex-row text-gray-800 hover:text-gray-500"
            >
              <span class="pr-1">source</span>
              <Icon icon="github-logo" size="24px" />
            </a>
            <a
              href={project.data.url}
              target="_blank"
              rel="noopener"
              class="flex flex-row text-gray-800 hover:text-gray-500"
            >
              <span class="pr-1">View</span>
              <Icon icon="external" size="24px" />
            </a>
          </div>
        </div>
      ))
    }
    <!-- <div class="flex flex-col gap-1 border-l-4 border-gray-400 px-4 py-2">
      <div>
        <a href="/work/standup-daily"
          ><h5 class="text-gray-800 hover:text-gray-500">Standup Daily</h5></a
        >
        <p>An async remote stand-up meeting plataform</p>
      </div>
      <div class="flex flex-row gap-4 pt-2">
        <a
          href="https://github.com/gileadekelvin/standup-api"
          target="_blank"
          rel="noopener"
          class="flex flex-row text-gray-800 hover:text-gray-500"
        >
          <span class="pr-1">api</span>
          <Icon icon="github-logo" size="24px" />
        </a>
        <a
          href="https://github.com/gileadekelvin/standup-front"
          target="_blank"
          rel="noopener"
          class="flex flex-row text-gray-800 hover:text-gray-500"
        >
          <span class="pr-1">Next.js app</span>
          <Icon icon="github-logo" size="24px" />
        </a>
        <a
          href="https://standup-daily.vercel.app/"
          target="_blank"
          rel="noopener"
          class="flex flex-row text-gray-800 hover:text-gray-500"
        >
          <span class="pr-1">View</span>
          <Icon icon="external" size="22px" />
        </a>
      </div>
    </div>
    <div class="flex flex-col gap-1 border-l-4 border-gray-400 px-4 py-2">
      <div>
        <a href="/work/decode-base64"
          ><h5 class="text-gray-800 hover:text-gray-500">Decode base64</h5></a
        >
        <p>Decode and Encode base64 strings</p>
      </div>
      <div class="flex flex-row gap-4 pt-2">
        <a
          href="https://github.com/gileadekelvin/decode-base-64"
          target="_blank"
          rel="noopener"
          class="flex flex-row text-gray-800 hover:text-gray-500"
        >
          <span class="pr-1">source</span>
          <Icon icon="github-logo" size="24px" />
        </a>
        <a
          href="https://decode-base64.vercel.app/"
          target="_blank"
          rel="noopener"
          class="flex flex-row text-gray-800 hover:text-gray-500"
        >
          <span class="pr-1">View</span>
          <Icon icon="external" size="24px" />
        </a>
      </div>
    </div>
    <div class="flex flex-col gap-1 border-l-4 border-gray-400 px-4 py-2">
      <div>
        <a href="/work/nome-do-bebe"
          ><h5 class="text-gray-800 hover:text-gray-500">Nome do bebê</h5></a
        >
        <p>
          This project will help you to decide your next baby name! Nome do bebê
          means baby's name in portuguese.
        </p>
      </div>
      <div class="flex flex-row gap-4 pt-2">
        <a
          href="https://github.com/gileadekelvin/nome-de-bebe"
          target="_blank"
          rel="noopener"
          class="flex flex-row text-gray-800 hover:text-gray-500"
        >
          <span class="pr-1">source</span>
          <Icon icon="github-logo" size="24px" />
        </a>
        <a
          href="https://nome-do-bebe.vercel.app/"
          target="_blank"
          rel="noopener"
          class="flex flex-row text-gray-800 hover:text-gray-500"
        >
          <span class="pr-1">View</span>
          <Icon icon="external" size="24px" />
        </a>
      </div>
    </div>
    <div class="flex flex-col gap-1 border-l-4 border-gray-400 px-4 py-2">
      <div>
        <a href="/work/timelining"
          ><h5 class="text-gray-800 hover:text-gray-500">Timelining</h5></a
        >
        <p>Bring your stories to life with easy-to-create timelines.</p>
      </div>
      <div class="flex flex-row gap-4 pt-2">
        <a
          href="https://github.com/gileadekelvin/timelining"
          target="_blank"
          rel="noopener"
          class="flex flex-row text-gray-800 hover:text-gray-500"
        >
          <span class="pr-1">source</span>
          <Icon icon="github-logo" size="24px" />
        </a>
        <a
          href="https://timelining.vercel.app/"
          target="_blank"
          rel="noopener"
          class="flex flex-row text-gray-800 hover:text-gray-500"
        >
          <span class="pr-1">View</span>
          <Icon icon="external" size="24px" />
        </a>
      </div>
    </div>
    <div class="flex flex-col gap-1 border-l-4 border-gray-400 px-4 py-2">
      <div>
        <a href="/work/watch"
          ><h5 class="text-gray-800 hover:text-gray-500">Watch</h5></a
        >
        <p>
          Watch is a plataform to organize your development workflow. Keep
          tracking the code that you need to review and deploy.
        </p>
      </div>
      <div class="flex flex-row gap-4 pt-2">
        <a
          href="https://github.com/gileadekelvin/watch"
          target="_blank"
          rel="noopener"
          class="flex flex-row text-gray-800 hover:text-gray-500"
        >
          <span class="pr-1">source</span>
          <Icon icon="github-logo" size="24px" />
        </a>
        <a
          href="https://watch-beta.vercel.app/"
          target="_blank"
          rel="noopener"
          class="flex flex-row text-gray-800 hover:text-gray-500"
        >
          <span class="pr-1">View</span>
          <Icon icon="external" size="24px" />
        </a>
      </div>
    </div>
    <div class="flex flex-col gap-1 border-l-4 border-gray-400 px-4 py-2">
      <div>
        <a href="/work/congresso-json"
          ><h5 class="text-gray-800 hover:text-gray-500">congresso.json</h5></a
        >
        <p>
          The House of Deputies and Senate of Brazil API's visualized in JSON
          with link navigation and without the difficulties of reading
          traditional XML.
        </p>
      </div>
      <div class="flex flex-row gap-4 pt-2">
        <a
          href="https://github.com/gileadekelvin/congresso-json"
          target="_blank"
          rel="noopener"
          class="flex flex-row text-gray-800 hover:text-gray-500"
        >
          <span class="pr-1">source</span>
          <Icon icon="github-logo" size="24px" />
        </a>
        <a
          href="https://congresso-json.vercel.app/"
          target="_blank"
          rel="noopener"
          class="flex flex-row text-gray-800 hover:text-gray-500"
        >
          <span class="pr-1">View</span>
          <Icon icon="external" size="24px" />
        </a>
      </div>
    </div>
    <div class="flex flex-col gap-1 border-l-4 border-gray-400 px-4 py-2">
      <div>
        <a href="/work/weather-tree"
          ><h5 class="text-gray-800 hover:text-gray-500">Weather tree</h5></a
        >
        <p>
          A simple application made with the power of Vite. Search weather
          information for your city.
        </p>
      </div>
      <div class="flex flex-row gap-4 pt-2">
        <a
          href="https://github.com/gileadekelvin/weather-tree"
          target="_blank"
          rel="noopener"
          class="flex flex-row text-gray-800 hover:text-gray-500"
        >
          <span class="pr-1">source</span>
          <Icon icon="github-logo" size="24px" />
        </a>
        <a
          href="https://weather-tree.vercel.app/"
          target="_blank"
          rel="noopener"
          class="flex flex-row text-gray-800 hover:text-gray-500"
        >
          <span class="pr-1">View</span>
          <Icon icon="external" size="24px" />
        </a>
      </div>
    </div> -->
  </div>
</div>
